body{
  background: #7a65ba;
  background: radial-gradient(circle,rgba(122, 101, 186, 1) 0%, rgba(166, 25, 48, 1) 92%, rgba(252, 70, 107, 1) 100%);
  font-family: Inter, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background-color: rgba(0, 0, 0, 0.2); 
  padding: 15px 30px;             
  margin-bottom: 40px;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;          
  font-weight: 400;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.15); 
  border-radius: 5px;
  color: rgb(223, 211, 39);
}

#msg{
  text-align: center;
}

#movieBody{
  text-align: center;
}

#movieForm input{
  background-color:rgb(39 144 223 / 94%);
  border-radius: 10px;;
  padding: 10px;
}

#movieForm input::placeholder{
  color: rgba(255, 255, 255, 0.7);
}

#movieForm #movieName{
  width: 150px;
}

#movieForm #movieRating{
  text-align: center;
  width: 140px;
    
}

.genre-wrapper {
  position: relative;
  display: inline-block;
}

.genre-box {
  position: absolute;
  background: rgb(35, 31, 31);
  color:white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 180px;
  z-index: 10;
}

.genre-box label {
  display: block;
  margin: 6px 0;
}

.hidden {
  display: none;
}

#genreBtn{
  background-color:rgb(39 144 223 / 94%);
  border-radius: 10px;;
  padding: 10px;
}

#genreBtn:hover{
  filter: brightness(0.5);
}

#movieForm #yearRelease{
  width: 55px;
}

* {
  box-sizing: border-box;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  column-gap: 35px;
  row-gap: 35px;
  justify-content: center;
  padding: 40px;
}

.movie-card {
  background-color: black;
  color: white;
  width: 200px;
  padding: 12px;
  border-radius: 12px;
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card h3 {
  font-size: 1rem;
  margin-top: 10px;
}

.movie-card p {
  font-size: 0.85rem;
  margin: 4px 0;
}

#showMore{
  background-color: blue;
  color:white;
  border-radius: 10px;
}

#showMore:hover{
  filter: brightness(0.25);
}

button{
  color: white;
}

#submit:hover{
  filter:brightness(0.5);
}

.navbar2 {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background-color: rgba(0, 0, 0, 0.2); 
  padding: 15px 30px;             
  margin-bottom: 40px;
}

.nav-title2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.nav-item2 {
  color: #ffffff;
  text-decoration: none;          
  font-weight: 400;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

#elemNav{
  padding-right: 10px;
}

#deleteBtn{
  background-color: rgb(255, 0, 0);
  color:white;
  border-radius: 10px;
}

#deleteBtn:hover{
  filter: brightness(0.25);
}

#backHome{
  margin-bottom: 10px;
}

#deleteAllBtn{
  background-color: rgb(255, 0, 0);
  color:white;
  border-radius: 10px;
}

#deleteAllBtn:hover{
  filter: brightness(0.25);
}