body{
    background-color: rgb(106, 188, 188);
    font-family: Inter, sans-serif;
}

#introduction{
    text-align: center;
}

#clickBtn{
    border-radius: 5px;
    background-color: rgb(224, 185, 70);
}

#clickBtn:hover{
     filter: brightness(0.5);
}